h1{
  text-indent: 20px;
}

.input.btn .btn-primary{
  align-items: 20px;
}

.mr-auto{
  margin-left: 20px;
}
.string{
  padding-left: 10px;
  text-indent: 20px
}

.text{
  padding-left: 10px;
  text-indent: 20px;
}

.course_cost{
  padding-left: 20px;
  text-indent: 20px;
}

.submit{
  padding-left: 20px;
}

.input_string{
  width: 50%;
}