@import "bootstrap";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap");

h1, h2, h3, h4, h5, h6, .navbar{
  margin: 0;
}

h3{
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}
body{
  background: image_url('bk.png');
  /* Trebuchet-based sans serif stack */
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

.navbar {
  background: image_url('nav-bar2.png');
  font-family: 'Noto Sans', sans-serif;
  box-shadow: 10px 10px 14px #000033;
  margin-bottom: 0;
  text-decoration: none;
}

.navbar-inverse .navbar-brand {
  font-family: cursive, 'Noto Sans', sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-shadow: 4px 2px 2px #F8CA81;
  text-decoration: none;
  color: #02134D;
  border-width: 20px;
  border-color: black;
  }

.navbar-toggler {
  border-color: navy;
  border-radius: relative;
}
.hero{
  background: image_url('Hero2.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 250px;
  box-shadow: 12px 12px 12px #01214E;
}

.frosty {
  background: rgba(143, 143, 143, .20);
  color: white;
}

.frosty h1{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 100;
  text-shadow: 6px 6px 8px black;
  color: white;
}

/*.frosty h2{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 200;
  text-shadow: 4px 4px 6px black;
  color: white;
}*/

.btn{
  border-radius: 0;
}

.feature{
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.booyah-box{
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow:1px 1px 2px 0 #d0d0d0;
  border-color: #01214E;
  border-width: 5px;
  padding: 10px;
  padding-top: 25PX;
  max-width: relative;
  box-shadow: 10px 12px 12px #01214E;
  border-radius: 25px;
  background: image_url('nav-bar2.png');
  min-height: 141px;
}

.clr{
  clear: both;
}
/*.col-sm{
  background-color: rgba(255, 0, 0, 0.25);
}*/

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.lesson{
  background-color: black;
  margin-top: 10px;
  height: 130px;
}

.section{
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}

.lesson a{
  color: white;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  font-weight: 100;
  font-size: 15px;
}

.lesson b{
  font-weight: 100;
  font-size: 25px;
}

ul {
  list-style-type: none;
}

.section-li {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  margin: 20px;
}

ul .header {
  font-size: 25px;
}

ul .header .fa {
  font-size: 2px;
}

.lessons li {
  background: black;
  color: white;
  margin: 10px;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  font-weight: 100px;
  padding: 8px;
  font: 15px;
}

.lessons li b {
  font-size: 25px;
  font-weight: 100px;
}

.lessons li p {
  margin: 0;
}